{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "indentation": [2],
    "max-empty-lines": 2,
    "unit-whitelist": ["em", "rem", "%", "s", "pt", "vh", "vw", "deg"]
  }
}
