#{$column} {
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
  flex: 0 0 auto;
}

#{$row} {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex: 0 0 auto;
}

[nowrap],
[row="nowrap"],
[column="nowrap"],
.nowrap
{ flex-wrap: nowrap; }

[row="reverse"],
[row="nowrap reverse"],
[row="wrap reverse"],
[row="reverse nowrap"],
[row="reverse wrap"],
.row-reverse {
  flex-direction: row-reverse;
}

[column="reverse"],
[column="nowrap reverse"],
[column="wrap reverse"],
[column="reverse nowrap"],
[column="reverse wrap"],
.column-reverse {
  flex-direction: column-reverse;
}

[wrap],
[row="wrap"],
[column="wrap"],
.wrap
{ flex-wrap: wrap; }

.layout-fill,
[layout-fill] {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}

// This is a mixin, which fixes IE11's vertical alignment issue, when using `min-height`.
// See https://connect.microsoft.com/IE/feedback/details/816293/
@mixin ie11-min-height-flexbug($min-height) {
  &::before {
    content: '';
    min-height: $min-height;
    visibility: hidden;
    display: inline-block;
  }
}

@media #{$mobile} {
  #{$mobileColumn} {
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    flex: 0 0 auto;
  }

  #{$mobileRow} {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    flex: 0 0 auto;
  }

  [mobile-nowrap],
  [mobile-row="nowrap"],
  [mobile-column="nowrap"],
  .mobile-nowrap
  { flex-wrap: nowrap; }

  [mobile-wrap],
  [mobile-row="wrap"],
  [mobile-column="wrap"],
  .mobile-wrap
  { flex-wrap: wrap; }

  [mobile-row="reverse"],
  [mobile-row="nowrap reverse"],
  [mobile-row="wrap reverse"],
  [mobile-row="reverse nowrap"],
  [mobile-row="reverse wrap"],
  .mobile-row-reverse {
    flex-direction: row-reverse;
  }

  [mobile-column="reverse"],
  [mobile-column="nowrap reverse"],
  [mobile-column="wrap reverse"],
  [mobile-column="reverse nowrap"],
  [mobile-column="reverse wrap"],
  .mobile-column-reverse {
    flex-direction: column-reverse;
  }
}
